<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://localhost:3306/aircraft?useLegacyDatetimeCode=true;serverTimezone=UTC</property>
  <property name="connection.username">root</property>
  <property name="connection.password"></property>
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>

  <property name="hbm2ddl.auto">update</property>

  
  <mapping resource="com/firsthibernate/AirQualification.hbm.xml"/>
  <mapping resource="com/firsthibernate/AirCustomer.hbm.xml"/>
  <mapping resource="com/firsthibernate/CustomerNextval.hbm.xml"/>
  <mapping resource="com/firsthibernate/Contacts.hbm.xml"/>
  <mapping resource="com/firsthibernate/AirsModel.hbm.xml"/>
  <mapping resource="com/firsthibernate/EmployeeNextval.hbm.xml"/>
  <mapping resource="com/firsthibernate/Users.hbm.xml"/>
  <mapping resource="com/firsthibernate/CharterNextval.hbm.xml"/>
  <mapping resource="com/firsthibernate/TransactionNextval.hbm.xml"/>
  <mapping resource="com/firsthibernate/AirModels.hbm.xml"/>
  <mapping resource="com/firsthibernate/Asuers.hbm.xml"/>
  <mapping resource="com/firsthibernate/LoginNextval.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
